@import url(https://fonts.googleapis.com/css?family=Bentham);

/* base */

body {
	font-family: 'Bentham';
	font-size: 24px;
	color: #0d0d0d;
  line-height: 1.5;

	text-align: center;
}

.vertical-align-center {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
}

/* header */

header {
	width: 100%;
	top: 0;
	z-index: 20;
}

header a {
  text-decoration: none;
  color: #0d0d0d;
}

h1 {
  width: 200px;
  margin: 30px auto;
  font-size: 40px;
  border-top: 1px solid #0d0d0d;
  border-bottom: 1px solid #0d0d0d;
}


/* hero */

.hero {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text {
	font-size: 32px;
}

/* contact */

.contact {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact__email, .contact__number {
  text-decoration: none;
  color: #0d0d0d;

  display: inline-block;
  margin: 20px 30px;
  border-bottom: 1px solid #0d0d0d;
}

.contact__email:hover, .contact__number:hover {
  color: #868686;
  border-bottom: 1px solid #868686;
}

/* responsive */

@media (max-width: 1080px) {
  .hero-text {
    margin-bottom: 50px;
  }

  .contact__email, .contact__number {
    font-size: 22px;
    margin: 20px 20px;
  }
}

@media (max-width: 700px) {
  .contact__email, .contact__number {
    display: inline-block;
    margin: 20px 0;
  }
}

@media (max-width: 500px) {
	.hero-text {
		font-size: 26px;
	}

	.contact__number, .contact__email {
		font-size: 20px;
	}
}
